<launch>
  
  <param name="iot_endpoint" value="$(optenv IOT_ENDPOINT)" />
  <param name="mqtt_port" type="int" value="$(optenv MQTT_PORT 8883)" />
  <param name="robot_name" value="$(optenv ROBOT_NAME joystick1)" />
  <param name="motor_controller" value="$(optenv MOTOR_CONTROLLER adafruit)" />
  
  
  <node name="move" pkg="jetbot_app" type="move" output="log"/>
  <node name="teleop" pkg="jetbot_app" type="teleop" output="log" />
  
</launch>
