<?xml version="1.0"?>
<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 

       See http://wiki.ros.org/Clock

       Note: set to false for deploying to a real robot.
  -->
  <arg name="use_sim_time" default="true"/>
  
  <arg name="x" default="-5"/>
  <arg name="y" default="-15"/>
  <arg name="z" default="0.1"/> 
  <arg name="model" default="$(find jetbot_description)/urdf/jetbot.urdf"/>
  
  
  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  <include file="$(find jetbot_description)/launch/view_gazebo.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="model" value="$(arg model)" />
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
  </include>

  <!-- Load joint controller configurations from YAML file to parameter server -->
<group ns="jetbot_diff_controller">
  <rosparam command="load"
    file="$(find jetbot_description)/config/jetbot_diff_drive_control.yaml"/>

  <!-- load the controllers -->
  <node name="jetbot_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="false" 
    output="screen" 
    args="jetbot_diff_controller"/>
</group>

  <!-- Rotate the robot on launch -->
  <node pkg="jetbot_sim_app" type="teleop.py" name="teleop" output="screen"/>
  
</launch>
