<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find jetbot_description)/urdf/jetbot.urdf"/>
  <arg name="x" default="-5"/>
  <arg name="y" default="-15"/>
  <arg name="z" default="0.1"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find aws_robomaker_racetrack_world)/launch/view_racetrack.launch"></include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) stereo_camera:=false"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-urdf -param robot_description -model jetbot -x $(arg x) -y $(arg y) -z $(arg z)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

</launch>
